N8N_Workflows-AutoAi-dat/Auto_Read_Information.json
{
  "name": "Auto Read Information",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        120
      ],
      "id": "44bbea58-b15f-4fca-897c-ac7275eba8fb",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://vnexpress.net/rss/khoa-hoc-cong-nghe.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        200
      ],
      "id": "b44fe6a4-9bd7-44aa-bce5-b6e0c1119c8f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        400,
        200
      ],
      "id": "1303a874-3971-48f5-b6a8-13a11a368d6d",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        580,
        200
      ],
      "id": "ab2f2f0a-879d-48b4-b43f-5b81a765eaf9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        440,
        0
      ],
      "id": "57d0cc95-8545-4d21-af72-bf29bc06b79e",
      "name": "Limit"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        0
      ],
      "id": "b01782eb-4367-4435-ad84-ec93f788afd1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "p.Normal",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        920,
        0
      ],
      "id": "6b5e48a1-2bed-4864-aed5-2ad16bc4b49a",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ec2e23f-9b6c-4379-b4b5-2b98af1d6aa7",
              "name": "data",
              "value": "={{ $json.data[6] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ],
      "id": "ef0a3bf8-2040-4f23-b534-078bd1df7765",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Tôi có một bài báo này. Hãy tóm tắt bài báo trong 5-7 câu với ngôn ngữ tự nhiên hết sức có thể, giọng văn đời thường. Ngoài tóm tắt ra, không nói gì thêm!\n {{ $json.data }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1100,
        240
      ],
      "id": "132bda89-5aa9-431a-8de6-3fafb5f36870",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1100,
        420
      ],
      "id": "6088629a-f608-4901-96d1-dd77941a76bd",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EWOWCunIN5vkwVqL",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7540969858",
        "text": "=<b>Tin mới: {{ $('Limit').item.json.title }}</b>\n\n<i>{{ $json.data.url }}</i>\n\nChi tiết: {{ $('Limit').item.json.link }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        160
      ],
      "id": "d6233c0b-07ef-46d1-856f-53b3bf371b10",
      "name": "Telegram",
      "webhookId": "06d6847b-7135-462e-87d9-ba067d1982c6",
      "credentials": {
        "telegramApi": {
          "id": "ZcRNuZEpVDmowoFq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        340
      ],
      "id": "3a713190-07c1-4a73-b327-623ad91af49d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://vnexpress.net/rss/suc-khoe.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        0
      ],
      "id": "5e58ddab-627a-4a27-8a01-1074ea622ea6",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "757b3ee8-9f5b-494b-be7c-6718d5c8f2c5",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec829a04-50aa-497c-87c1-3e6ef34a92ed",
              "leftValue": "={{ $json.pubDate }}",
              "rightValue": "={{ $now.minus({ hours: 1 }) }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        760,
        200
      ],
      "id": "d5d2c6f8-d1c0-405c-8282-21628b6b63a8",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.zalo.ai/v1/tts/synthesize",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "62woboVZdL77dbVFfIgR0OexEPlJX4ay"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        -40
      ],
      "id": "e929c90a-f9a7-4bf5-99c3-cfa181c7e600",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1500,
        340
      ],
      "id": "35200336-6e01-4250-9ed0-96c4bb8d4b82",
      "name": "Wait",
      "webhookId": "ac5b2b31-8ec4-4c4d-ac3c-ee9e8368b18b"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf3d337d-0e56-413c-9854-76b96f602e35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "71b4f5b4784db4fe3d06c78f83a033cf435cf636a9d7ae2ee3e7d535bc404960"
  },
  "id": "W9Brcq8UwomsSubn",
  "tags": []
}