Tự động giám sát nhiều URL với cảnh báo khi hệ thống ngừng hoạt động/CHECK URL (k có url fail vẫn chạy).json
{
  "name": "CHECK URL (k có url fail vẫn chạy)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "6da2371d-2e6a-4ef1-b173-08c89ed60fbf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -736,
        -80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "id": "215cfac3-7dc8-4e32-91bf-bbdd0634f6de",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -256,
        -176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"urls\": {\n    \"URL 2\": \"https://lamhiephung.com\",\n    \"URL 1\": \"https://made4home.com.vn\",\n    \"URL 4\": \"https://github.com\",\n    \"URL 3\": \"https://n8n.io\",\n    \"URL 5\": \"https://made4home.us\",\n    \"URL 6\": \"https://ttppottery.com/\"\n  }\n}",
        "options": {}
      },
      "id": "41c8bca2-26e1-485f-8a31-a5383ef84902",
      "name": "URLs",
      "type": "n8n-nodes-base.set",
      "position": [
        -480,
        -176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "Caida"
            },
            {
              "field": "Funcional"
            }
          ]
        },
        "options": {}
      },
      "id": "c89ef2cb-1eea-424b-841d-eca877f0b42b",
      "name": "Total",
      "type": "n8n-nodes-base.summarize",
      "position": [
        224,
        -256
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c082e980-4e8d-4e5b-9d06-31aecb114b3b",
      "name": "Bucle URLs",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -32,
        -176
      ],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "id": "d0ca9ee4-b371-4508-b9e4-0772476090ba",
      "name": "Run trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -736,
        -272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "tiendatmuxam@gmail.com",
        "subject": "Webs caídas",
        "message": "=Te informamos que actualmente estos URLs se encuentran caídos: \n\n{{ $json.url }}\n\n\nCaídos: {{ $('Total').item.json.count_Caida }}\n\nFuncionales: {{ $('Total').item.json.count_Funcional }}",
        "options": {}
      },
      "id": "d9f68ffc-7314-4853-a984-431c8065c7bc",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        816,
        -256
      ],
      "webhookId": "cf566774-8539-422c-8129-7c9fea6b367c",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "puklWUt7v4610yfm",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Lấy toàn bộ item từ Bucle URLs\nconst items = $items('Bucle URLs');\n\n// Lấy các URL bị Caida\nconst caidaUrls = items\n  .map(it => it.json.Caida)\n  .filter(url => typeof url === 'string' && url.trim().length);\n\n// ❗ KHÔNG throw error nữa\n// Nếu không có URL caida → trả về empty array\nif (caidaUrls.length === 0) {\n  return [];\n}\n\n// Nếu có Caida → trả về từng URL\nreturn caidaUrls.map(url => ({ json: { url } }));\n\n\n/*  Si prefieres un ÚNICO item con el array completo, comenta la línea anterior\n    y descomenta esto:\nreturn [\n  { json: { caidaUrls } },     // { \"caidaUrls\": [\"https://n8niouou.io\", \"https://n8niopuou.io\"] }\n];\n*/\n"
      },
      "id": "70f2b1da-ac4f-4120-b0b8-774080a31545",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        416,
        -256
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "url",
        "options": {}
      },
      "id": "77799bb7-a6f7-409b-b552-856de94d1cfc",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        624,
        -256
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {}
      },
      "id": "d24b349e-bf6d-4c53-8dcc-521cd23bc7f6",
      "name": "Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        224,
        -48
      ],
      "typeVersion": 4.2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "### Enter URLs to scan here",
        "height": 220,
        "width": 180,
        "color": 5
      },
      "id": "8e6498d4-17e3-4d14-9fed-0f7d357450ea",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        -240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### As a trigger you could also implement webhook or MCP",
        "height": 480,
        "width": 180,
        "color": 5
      },
      "id": "43e048e5-7af9-416d-a012-d13e0a15c610",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SWWHCM2BM0LRKSg7gaMBKIwVizP1PGiwULQpYYaVPa0",
          "mode": "list",
          "cachedResultName": "n8n090226",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWWHCM2BM0LRKSg7gaMBKIwVizP1PGiwULQpYYaVPa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWWHCM2BM0LRKSg7gaMBKIwVizP1PGiwULQpYYaVPa0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Caida": "=Caida: {{ $json.urls }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Funcional",
              "displayName": "Funcional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caida",
              "displayName": "Caida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        416,
        160
      ],
      "id": "b1118438-f86d-40ab-8d8c-ef83477a3a33",
      "name": "Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Lyi84YHyUVNZ6ICA",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SWWHCM2BM0LRKSg7gaMBKIwVizP1PGiwULQpYYaVPa0",
          "mode": "list",
          "cachedResultName": "n8n090226",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWWHCM2BM0LRKSg7gaMBKIwVizP1PGiwULQpYYaVPa0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SWWHCM2BM0LRKSg7gaMBKIwVizP1PGiwULQpYYaVPa0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Funcional": "=Funciona: {{ $('Split Out').item.json.urls }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Funcional",
              "displayName": "Funcional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caida",
              "displayName": "Caida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        464,
        -48
      ],
      "id": "4af0f71f-f093-4405-9c90-b9452230c4ab",
      "name": "Success",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Lyi84YHyUVNZ6ICA",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Bucle URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URLs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle URLs": {
      "main": [
        [
          {
            "node": "Total",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run trigger": {
      "main": [
        [
          {
            "node": "URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error": {
      "main": [
        [
          {
            "node": "Bucle URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Bucle URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "07633ade-b453-4d50-8cb4-c6c77c4b6084",
  "meta": {
    "instanceId": "cee8b9aaf4783045b48096be9cb06680694d6dcd09cb8a953489a482a1ae8d00"
  },
  "id": "WQhPfM0sB2QiJnzJuCXij",
  "tags": []
}